{% extends 'base.html.twig' %}

{% block title %}Taches effectuées{% endblock %}

{% block body %}

<br><br>
<div class="container">
 <div class="row">
    <div class="col">
    </div>
    <div class="col-9">
      <h1 class="text-center">Taches effectuées</h1>
        <br>

        <div class="text-center">
            
             

            Pendant mon stage, j'ai réalisé de nombreuses tâches. J'ai d'abord, à mon arrivé, préparé un PC (Création d'une clef USB bootable, puis installation windows et ajout applications. Une fois cela fait, j'ai ajouté le PC au LAN). Après on m'a présenté GLPI qui est un ogiciel qui permet de prendre les tickets des utilisateurs de l'entreprise et de répondre à leur problèmes. Cela pouvait être un problème de droits administrateur, une souris qui ne marche plus ou une impossibilité de se connecter à sa session.

             <br><br>

            J'ai aussi créé beaucoup d'utilisateurs (Ajout dans l'Active Directory, création de l'adresse mail, ajout licence office, ajout dans listes diffusions, accès VPN...) pour chaque nouveaux venus dans l'entreprise. J'ai également travaillé sur un serveur de déploiement FOG et j'ai aussi mis une imprimante sur le réseau.

        </div>

        <br><br><br><br><br><br><br><br>

    








    </div>
    <div class="col">
    </div>
  </div>
</div>

{% endblock %}
