{% extends 'base.html.twig' %}

{% block title %}Grégoire stage  {% endblock %}

{% block body %}

<br><br>
<div class="container">
 <div class="row">
    <div class="col">
    </div>
    <div class="col-9">

    <div class="article" style="border: solid; border-radius: 30px; padding: 20px;">
        <h1 class="text-center">Viveris</h1>



        <br><br>

        
            <div>
                
                Viveris est une entreprise informatique qui participe à la transformation digitale des entreprises par la mise en œuvre de solutions simples, perfor...
            </div>
            <br><br>

            <div class="row">
                    <div class="col">                  </div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"><a href="{{ path('app_article01') }}">Lire la suite...</a></div>
                </div>
        </div>


                                                             
        <br><br><br>
    </div>
    <div class="col">
    </div>
  </div>
</div>

<br><br>
<div class="container">
 <div class="row">
    <div class="col">
    </div>
    <div class="col-9">

    <div class="article" style="border: solid; border-radius: 30px; padding: 20px;">
        <h1 class="text-center">Tâches effectuées.</h1>



        <br><br>

        
            <div>
                
                 Pendant mon stage, j'ai réalisé de nombreuses tâches. J'ai d'abord, à mon arrivé, préparé un PC (Création d'une clef USB bootable, puis installation windows et ajout applications. Une fois cela fait, j'ai...
            </div>
            <br><br>

            <div class="row">
                    <div class="col">                  </div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"><a href="{{ path('app_article02') }}">Lire la suite...</a></div>
                </div>
        </div>


                                                             
        <br><br><br>
    </div>
    <div class="col">
    </div>
  </div>
</div>

<br><br>
<div class="container">
 <div class="row">
    <div class="col">
    </div>
    <div class="col-9">

    <div class="article" style="border: solid; border-radius: 30px; padding: 20px;">
        <h1 class="text-center">Conclusion</h1>



        <br><br>

        
            <div>
                
                Ce stage m'a permis de mettre en pratique ce que j'ai appris ces deux dernières années. J'ai pu voir concrètement comment mettre en pratique ce que j'avais appris (serveur de...
            </div>
            <br><br>

            <div class="row">
                    <div class="col">                  </div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"><a href="{{ path('app_article04') }}">Lire la suite...</a></div>
                </div>
        </div>


                                                             
        <br><br><br>
    </div>
    <div class="col">
    </div>
  </div>
</div>



{% endblock %}
