{% extends 'base.html.twig' %}

{% block title %}Conclusion {% endblock %}

{% block body %}

<br><br>
<div class="container">
 <div class="row">
    <div class="col">
    </div>
    <div class="col-9">
      <h1 class="text-center">Conclusion</h1>
        <br>

        <div class="text-center">
            
             

           Ce stage m'a permis de mettre en pratique ce que j'ai appris ces deux dernières années. J'ai pu voir concrètement comment mettre en pratique ce que j'avais appris (serveur de déploiement, création de règles pour le pare-feu...). J'ai aussi différents choses comme comment mettre une imprimante en réseau ou encore comment administrer avec office 365. J'ai pu découvrir à quoi ressemble le métier d'administrateur systèmes et réseaux et me donner une idée plus claire du métier.

    

        </div>

        <br><br><br><br><br><br><br><br>





    </div>
    <div class="col">
    </div>
  </div>
</div>
{% endblock %}
