{% extends 'base.html.twig' %}

{% block title %}Viveris{% endblock %}

{% block body %}



<br><br>
<div class="container">
 <div class="row">
    <div class="col">
    </div>
    <div class="col-9">
      <h1 class="text-center">Viveris</h1>
        <br>

        <div class="text-center">
            
             

             Viveris est une entreprise informatique qui participe à la transformation digitale des entreprises par la mise en œuvre de solutions simples, performantes et adaptées aux besoins. Elle offre aussi l’ensemble des compétences nécessaires pour la réalisation de systèmes et de services connectés à valeur ajoutée, déployables et évolutifs.

             <br><br>

             Quant à moi j'ai travaillé dans la partie ISR, où je m'occupais de la gestion de l'infrastructure du site (Boulogne). L'équipe était composé 5 personnes à Boulogne et 11 avec les autres sites.             

        </div>

        <br><br><br><br><br><br><br><br>

    








    </div>
    <div class="col">
    </div>
  </div>
</div>




{% endblock %}
