{% extends 'base.html.twig' %}

{% block title %}Journée type{% endblock %}

{% block body %}

<br><br>
<div class="container">
 <div class="row">
    <div class="col">
    </div>
    <div class="col-9">
      <h1 class="text-center">Journée type</h1>
        <br>

        <div class="text-center">
            
             

            Dans une journée, je commence toujours par regarder GLPI pour voir s'il n'y a pas de nouveaux tickets que je puisse traiter. Si, par exemple, quelqu'un a besoin qu'on ajoute un utilisateur dans une liste de diffusion ou que quelqu'un à un problème pour se connecter à sa session, je m'occupe du ticket. Je regarde également si des gens arrivent prochaines, pour savoir si je dois préparer un poste et créer un compte dans l'active directory.

             <br><br>

            Il m'arrive aussi d'accueillir des employés de l'entreprise directement dans mes bureaux. Ceci ont généralement des petits problèmes comme un problème de pile ou des questions et préfèrent directement nous demander, sans passer par un ticket.

            

        </div>

        <br><br><br><br><br><br><br><br>

    








    </div>
    <div class="col">
    </div>
  </div>
</div>

{% endblock %}
